.title{
    margin-top: 40px;
    color: rgb(241, 104, 104);
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid lightcoral;
 
}
.about{
    min-height: 750px;
}
.title-text{
 text-align: center;
}
/* media query Mobile */
@media only screen and (max-width: 1200px) {
    #img{
        width: 100%;
    }
  }