.footer{
    background-color: rgb(240, 215, 70);
}
.icon{
    color: rgb(233, 98, 26);
    font-size: 25px;
}

.icons{
    color:rgb(233, 98, 26);
    font-size: 30px;
    
}
/* media query Mobile */
@media only screen and (max-width: 1200px) {
    .icons{
        font-size: 20px;  
    }
  }
