.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    
}

/* media query Mobile */

@media only screen and (max-width: 1200px) {
    .sticky{
        position: -webkit-sticky;
        position: sticky;
        top:0;
        text-align: center;
        
    }
  }